* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

main {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    align-items: center;
}
body {
    background-color:rgb(209,104,160);
    background: linear-gradient(90deg, rgba(209,104,160,1) 0%, rgba(119,125,217,1) 57%, rgba(39,51,227,1) 100%);;
}


form {
background-color: white;
height: 500px;
width: 400px;
display: flex;
flex-direction: column;
padding: 20px;
border-radius: 5px;
}


input {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.texto-do-lado h3{
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}

.texto-do-lado p {
    font-weight: 300;
    font-size: 25px;
    color: white;
}

form h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 15px;
}

#enviar {
    cursor: pointer;
    background-color: #3BCC87;
    transition: 0.3s;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

#enviar:hover {
    background-color: #3bcc86c4;
}

#mensagem {
    padding: 10px;
    resize: none;
}


.errado {
    display: none;
}

.errado.ativo {
display: block;
font-size: 10px;
color: red;
margin-bottom: 10px;
}

.bordainput.ativo {
    border: 2px solid red;
}

.bordainput.passou {
    border: 2px solid green;
}






